__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
ENV/
.env
*.db
instance/
.migrations/
.migrations
.migrations/

.git
.gitignore
Dockerfile
run.bat
venv
__pycache__
*.pyc
instance
migrations
*.db
.env
*.log
.git
